body{
margin:0;
font-family:Arial;
background:#0f172a;
color:white;
text-align:center;
}

canvas{
position:fixed;
top:0;
left:0;
z-index:-1;
}

.container{
backdrop-filter:blur(15px);
background:rgba(255,255,255,0.1);
padding:40px;
margin:auto;
margin-top:40px;
max-width:750px;
border-radius:20px;
box-shadow:0 10px 40px rgba(0,0,0,0.5);
}

input,textarea,select{
width:90%;
padding:12px;
margin:10px;
border-radius:8px;
border:none;
}

button{
padding:12px 20px;
margin:6px;
border:none;
border-radius:8px;
background:#3b82f6;
color:white;
font-weight:bold;
cursor:pointer;
}

button:hover{
transform:scale(1.1);
}

#announcement{
margin-top:25px;
padding:25px;
border-radius:12px;
background:rgba(0,0,0,0.4);
}

.post{
background:rgba(0,0,0,0.5);
padding:20px;
margin:15px;
border-radius:10px;
}

.dark{background:#020617;}
.school{background:#f0f8ff;color:#003366;}
.neon{background:black;color:#39ff14;}
